@model IEnumerable<DataModel.RegistrarsDataModel>




<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
           
            <th>Give appointment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                
                <td>
                    @Html.CheckBoxFor(modelItem => item.GivenAppointment, new { @class = "select-registrar" })
                </td>
            </tr>
        }
    </tbody>
</table>
@if(Model.Count()>0)
{
    DataModel.AppintmentDataModel appintmentDataModel = new DataModel.AppintmentDataModel { AppointmentDateAsString = DateTime.Now.ToString("dd/MM/yyyy"), VaccinationType = null };
    @Html.Partial("AssignAppointment", appintmentDataModel)
}


